@import "../gc-widget-base/gc-widget-base";

:host {
    width: -moz-available;
    width: -webkit-fill-available;

    #elementWrapper {
        justify-content: center;
    }

    .button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 20px;
        margin: 0 2px;
        height: 100%;
        width: var(--gc-button-width, 200px);
        min-width: var(--gc-button-width, 200px);
        border-top: solid 2px transparent;
        box-sizing: border-box;
        padding: 20px 0 20px 0;
        transition: border-color 0.2s ease-out;

        .title {
            white-space: nowrap;
            font-size: $gc-header-font-size;
            font-weight: $gc-header-font-weight;
        }

        .desc {
            text-align: center;
            font-size: $gc-sub-header-font-size;
            font-weight: $gc-sub-header-font-weight;
            --gc-color: $gc-color-gray-7;
        }

        &[hidden] {
            display: none;
        }

        &:hover {
            --gc-hover-cursor: pointer;
            cursor: pointer;
            border-top: solid 2px $gc-tertiary-color;
        }

        &.active {
            border-top: 2px solid $gc-primary-color;
        }
    }
}