@import "../gc-widget-base/gc-widget-base.scss";

$tick-label-font-size: 4.75px;
$main-title-font-size: 5.25px;
$sub-title-font-size: 4.25px;
$detail-value-font-size: 4.5px;

:host {
    width: 200px;
    height: 200px;

    svg {
        #face-layer {
            transform: matrix(1, 0, 0, 1, 25, 25);

            #outer-circle {
                fill: var(--gc-ring-color, $gc-tertiary-color);
            }

            #inner-circle {
                fill: var(--gc-background-color, $gc-color-gray-1);
            }
        }

        #scale-layer {
            path {
                stroke: var(--gc-tick-color, $gc-font-color);

                &.major {
                    stroke: var(--gc-major-tick-color, $gc-font-color);
                }
            }

            text {
                font-size: var(--gc-font-size, $tick-label-font-size);
                fill: var(--gc-font-color, $gc-font-color);
            }
        }

        #label-layer {
            #main-title {
                text-anchor: middle;
                font-size: $main-title-font-size;
                font-weight: $gc-font-weight-bold;
                fill: var(--gc-font-color, $gc-font-color);
            }

            #sub-title {
                text-anchor: middle;
                font-size: $sub-title-font-size;
                fill: var(--gc-font-color, $gc-font-color);
            }

            #detail-value-background {
                fill: var(--gc-detail-value-background-color, $gc-color-gray-3);
            }

            #detail-value {
                text-anchor: end;
                font-size: $detail-value-font-size;
                fill: var(--gc-detail-value-font-color, $gc-font-color);
            }
        }

        #needle-layer {
            transform: translate(50px, 50px);
            fill: var(--gc-needle-color, $gc-color-red-2);
        }
    }
}

:host([disabled]) {
    svg {
        #face-layer {
            #outer-circle {
                fill: $gc-color-gray-4;
            }

            #inner-circle {
                fill: $gc-background-color-disabled;
            }
        }

        #scale-layer {
            path {
                stroke: $gc-font-color-disabled;
            }

            text {
                fill: $gc-font-color-disabled;
            }
        }

        #label-layer {
            #main-title, #sub-title, #detail-value {
                fill: $gc-font-color-disabled;
            }

            #detail-value-background {
                fill: $gc-background-color-disabled;
                filter: brightness(1.05);
            }
        }

        #needle-layer {
            fill: $gc-color-gray-4;
        }
    }
}