@import '../../global/variables.scss';

$heading-color: var(--gc-heading-color, $gc-border-color);
$font-color: var(--gc-font-color, $gc-font-color);
$font-size: var(--gc-font-size, $gc-font-size);
$font-weight: var(--gc-font-weight, $gc-font-weight-bold);
$font-style: var(--gc-font-style, normal);
$focus-color: var(--gc-focus-color, $font-color);

:host {
    background-color: $heading-color;
    font-weight: $font-weight;
    font-size: $font-size;
    font-style: $font-style;
    white-space: nowrap;
    margin: 0px;
    position: sticky;
    top: 0%;
    text-align: var(--gc-heading-text-align, center);
    width: 100%;
    align-self: stretch;
    box-sizing: border-box;
}

:host(:focus), :host *:focus {
    outline: none;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: $font-color;

    & > *:not(.stretch) {
        flex-shrink: 0;
    }
}

.stretch {
    flex: 1;
}

label, gc-widget-label {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 5px 5px 5px;
}

slot::slotted(*:focus),
.action:focus {
    outline:  1px dotted $focus-color;
    outline-offset: 1px;
}

.action {
    --gc-color: #{$font-color};
    cursor: pointer;
}
