@import "../gc-widget-base/gc-widget-base.scss";

$rowHeight: var(--gc-row-height, calc(var(--gc-font-size, #{$gc-font-size}) + 10px));
$font-size: var(--gc-font-size, $gc-font-size);
$font-color: var(--gc-font-color, $gc-font-color);
$background-color: var(--gc-background-color, $gc-background-color);
$font-color-selected: var(--gc-font-color-selected, $gc-font-color-selected);
$background-color-selected: var(--gc-background-color-selected, $gc-background-color-selected);
$font-color-highlighted: var(--gc-font-color-highlighted, $gc-font-color-highlighted);
$background-color-highlighted: var(--gc-background-color-highlighted, $gc-background-color-highlighted);
$border-color: var(--gc-border-color, $gc-border-color);
$heading-color: var(--gc-heading-color, $border-color);
$outline-color-focus: var(--gc-outline-color-focus, $font-color);
$icon-color: var(--gc-icon-color, $gc-secondary-color);

:host {
    font-family: $gc-font-family;
    font-size: $font-size;
    font-weight: $gc-font-weight-normal;
    color: $font-color;
    white-space: nowrap;
    border: 2px solid $border-color;
    position: relative;
    line-height: $rowHeight;
}

.grid {
    display: grid;
    color: $font-color;
    background-color: $background-color;
    row-gap: 0;
    column-gap: 0;
    flex: 1;
    overflow-x: auto;
    overflow-y: auto;
}

.grid-row,
.grid-content,
.grid-header {
    display: contents;
}

.grid-row:hover > .grid-column {
    background-color: $background-color-highlighted;
    color: $font-color-highlighted;
}

.grid-row.selected > .grid-column {
    background-color: $background-color-selected;
    color: $font-color-selected;
}

.grid-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

    &:focus-within input[type=text][readonly],
    &:focus-within .focused,
    &:focus-within:not(.noOutline) {
        outline:  1px dotted $outline-color-focus;
        outline-offset: -3px;
    }

    &.center {
        justify-content: center;
    }

    &.end {
        justify-content: flex-end;
    }

    & > * {
        padding: 0px 5px 0px 5px;
    }
}

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    line-height: normal;
    position: relative;
    width: 100%;
    height: 100%;
}

.grid-scrollbar {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    outline: none;
    background-color: $background-color;

    /* these are just initial guess, the real width and overflow will be calculated and set on the fly. */
    overflow-y: scroll;
    overflow-x: hidden;
}

.grid-scrollbar-content {
    width: 1px;
}

slot[name=columns]::slotted(*) {
    --gc-color: var(--gc-heading-font-color, #{$font-color});
    border-color: $background-color;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    --gc-font-color: var(--gc-heading-font-color);
    --gc-font-size: var(--gc-heading-font-size);
    --gc-font-weight: #{$gc-font-weight-bold};
    --gc-font-style: normal;
    z-index: 1;  /* sometimes the tree column renders on top of sticky header, but this fixes it */
}

slot[name=columns]::slotted(*:first-child) {
    border-width: 1px 1px 0px 1px;
}

input {
    font-family: $gc-font-family;
    font-size: $font-size;
    font-weight: $gc-font-weight-normal;
    margin: 0px;
    width: 100%;
    color: inherit;
    background-color: transparent;
    appearance: none;
    outline: none;
    border: 2px solid transparent;
    box-sizing: border-box;
    vertical-align: middle;
}

.grid-row.selected input[type=text]:focus {
    border: 2px solid $outline-color-focus;
    background-color: inherit;
    height: $rowHeight;

    &.edit-mode {
        border-style: dashed;
    }

    &[readonly] {
        border: none;
    }
}

.grid-row gc-widget-select {
    width: 100%;
    height: $rowHeight;
    margin: 0px;
    --gc-menuitem-background-color-selected: #{$background-color-selected};
    --gc-menuitem-color-selected: #{$gc-font-color-selected};
}

/* styling for check box to look like ti-widget-checkbox.  Use class="small" for a smaller version of ti-widget-checkbox. */

input[type=checkbox] {
    height: 18px;
    width: 18px;
    appearance: none;
    border: 2px solid $font-color;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 100ms cubic-blzier(0.4,0,0.2,1);
    position:relative;
    margin: 0px;

    &.small {
        height: 15px;
        width: 15px;
        border-radius: 3px;
    }

    &:checked {
        box-sizing: border-box;
        background-color: $font-color;
    }

    &:checked::after {
        box-sizing: border-box;
        position: absolute;
        display:block;
        top: 1px;
        left: 1px;
        width: 12px;
        height: 8px;
        content: " ";
        transform: rotate(-45deg);
        border-bottom: 2px solid $background-color;
        border-left: 2px solid $background-color;
    }

    &:checked.small::after {
        left: 0px;
        width: 10px;
        height: 6px;
    }

    @keyframes ckeckbox-focus-shadow {
        from {
            box-shadow: 0 0 0 2px $gc-focus-color-highlight;
        }
        to {
            box-shadow: 0 0 0 2px rgba($gc-focus-color-highlight, 0.25);
        }
    }

    &:focus {
        animation: ckeckbox-focus-shadow linear 1s infinite alternate;
    }
}

.grid-row:hover input[type=checkbox] {
    border-color: $font-color-highlighted;

    &:checked {
        background-color: $font-color-highlighted;

        &::after {
            border-bottom: 2px solid $background-color-highlighted;
            border-left: 2px solid $background-color-highlighted;
        }
    }
}

.grid-row.selected input[type=checkbox] {
    border-color: $font-color-selected;

    &:checked {
        background-color: $font-color-selected;

        &::after {
            border-bottom: 2px solid $background-color-selected;
            border-left: 2px solid $background-color-selected;
        }
    }
}

.grid-row {
    &.selected {
        &:hover .icon.info,
        & .icon:not(.tree):not(.info) {
            fill: $font-color-selected;
        }
    }
    &:hover .icon.info {
        fill: $font-color;
    }
}

.grid-column:not(:focus-within) .hiddenWithoutFocus {
    display: none !important;
}

.grid-column:focus-within .hiddenWithFocus {
    display: none !important;
}

.icon {
    width: 18px;
    height: 18px;
    stroke-width: 0;
    vertical-align: middle;
    fill: $font-color;
    cursor: pointer;

    &.tree {
        fill: $icon-color;
        margin-right: 3px;
    }

    &.info {
        fill: transparent;
        width: 14px;
        height: 14px;
        margin-left: 5px;

    }
}

[readonly] {
    pointer-events: none;
}

div.progress {
    border: 2px solid #118899; /* teal */
    border-bottom: 2px solid #f3f3f3; /* Light grey */
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin .8s linear infinite;
    display: inline-block;
    fill: $icon-color;
    margin-right: 5px;
    vertical-align: text-bottom;

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

.flex-row:not([hidden]) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    & > * {
        flex-shrink: 0;
        box-sizing: border-box;

        &.flex {
            flex: 1 1 3em;
        }
    }

    & > label {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 100%;
        vertical-align: middle;
    }
}
