@import "../gc-widget-base/gc-widget-base-check.scss";

:host(.horizontal) {
    margin-right: 10px;
}

ti-radio {
    span {
        font-family: $gc-font-family;
        font-size: $gc-font-size;
        font-weight: $gc-font-weight-normal;
        color: $gc-font-color;
    }
}