@import "../gc-widget-base/gc-widget-base";

:host {
    margin: 0;

    gc-widget-dialog {
        width: 640px;
    }

    gc-widget-button[button-type="link"] {
        margin: 0;
        height: auto;
    }

    #description-container {
        margin: 20px 0px;
    }

    #steps-container {
        .step {
            margin: 10px 0px;

            .step-label {
                font-weight: bold;
            }
        }
    }

    #helplink-container {
        margin: 20px 0;
    }
}