@import '../gc-widget-base/gc-widget-base-menu';

:host {
    display: none;
    padding: 0;
    z-index: 1000;
    height: 0;
    width: 0;


    #menu-container {
        position: fixed;

        border: 1px solid $gc-border-color;
        background-color: $gc-color-gray-1;
        color: $gc-menu-color-hover;
        fill: $gc-menu-color-hover;

        display: flex;
        flex-direction: column;
    }
}

:host[keep-visible-in-designer] {
    display: flex !important;
}