@import "../gc-widget-input/gc-widget-input";

:host {
    #root-container {
        #arrow-icon-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            gc-widget-icon {
                height: 100%;
                margin: 0;
                padding: 0 4px;
            }

            gc-widget-icon:hover {
                background: $gc-color-gray-3;

            }
        }

        gc-widget-input {
            margin: 0;
            width: 100%;
            border: none;
        }
    }
}