@import '../gc-widget-base/gc-widget-base';

gc-widget-icon {
    cursor: pointer;
    fill: $gc-color-white;
    margin: 0 5px 0 5px;
}

.nowrap {
    white-space: nowrap;
}

#transportsMenu {
    position: fixed;
    z-index: 1002;
    padding: 0;
    margin: 0;
    cursor: default;

    background-color: $gc-color-gray-1;
    color: $gc-color-gray-7;

    & li {
        display: flex;
        align-items: center;
        &:hover {
            background-color: $gc-color-gray-3;
        }

        & > * {
            margin: 5px;
            flex-shrink: 0;
        }

        padding: 0 10px 0 10px;
    }

    & .connectionIndicator {
        height: 8px;
        width: 8px;
        border-radius: 16px;
        background-color: $gc-color-gray-7;

        &.connecting {
            background-color: $gc-color-yellow-4;
        }
        &.connected {
            background-color: $gc-color-green-3;
        }
        &.error {
            background-color: $gc-color-red-5;
        }
    }
}


