@import 'gc-widget-base';

$gc-menu-background-color: $gc-primary-color;
$gc-menu-background-color-hover: $gc-color-gray-1;
$gc-menu-background-color-checked: rgba($gc-color-gray-9, 0.25);
$gc-menu-color: $gc-color-gray-1;
$gc-menu-color-hover: $gc-font-color;
$gc-sub-menu-background-color: $gc-color-gray-1;
$gc-sub-menu-background-color-hover: $gc-primary-color;
$gc-sub-menu-color: $gc-font-color;
$gc-sub-menu-color-hover: $gc-color-gray-1;

$gc-menu-bar-height: 42px;
$gc-menu-font-size: 14px;
$gc-menu-font-weight: $gc-font-weight-bold;
$gc-menu-product-family-font-size: 21px;
$gc-menu-product-family-font-weight: $gc-font-weight-bold;

:host {
    font-size: $gc-menu-font-size;
    font-family: $gc-font-family;
    margin: 0;
    height: $gc-menu-bar-height;
    outline: none;
    white-space: nowrap;
    caret-color: transparent;
}

.container {
    display: flex;
    align-items: center;
}

:host(.sub-menu), :host([slot="more-item"]) {
    .grid-container {
        display: grid;
        flex: 1;
        align-items: center;
        grid-template-columns: 40px auto;
        column-gap: 5px;

        :first-child {
            width: 24px;
            height: 24px;
            padding: 3px;
            margin: 5px;
            border-radius: 3px;

            gc-widget-icon {
                margin: 0;
            }
        }

        #hotkey {
            display: none;
        }
    }
}

:host(.sub-menu.has-hotkey), :host([slot="more-item"].has-hotkey) {
    .grid-container {
        #hotkey {
            display: inline-block;
        }
    }
}

:host(.sub-menu.col-count-3), :host([slot="more-item"].col-count-3) {
    .grid-container {
        grid-template-columns: 40px auto 40px;
    }
}
:host(.sub-menu.col-count-4), :host([slot="more-item"].col-count-4) {
    .grid-container {
        grid-template-columns: 40px auto 40px 40px;
    }
}

:host([toggle]) {
    .grid-container {
        :first-child {
            gc-widget-icon.checkmark {
                padding: 0;
            }
        }
    }
}