@import "../gc-widget-base/gc-widget-base.scss";

:host {
    width: 240px;
    height: 160px;

    #elementWrapper {
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

:host([lock-aspect-ratio]) {
    #elementWrapper {
        img {
            width: auto;

            -webkit-user-drag: none;
             -khtml-user-drag: none;
               -moz-user-drag: none;
                 -o-user-drag: none;
                    user-drag: none;
        }
    }
}

/* shadow hover effect */
:host([hover-effect=shadow]:not([disabled])) {
    transition: all .3s ease-in-out;
}
:host([hover-effect=shadow]:hover:not([disabled])) {
    /* container elevation 2 */
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%),
                0 1px 10px 0 rgb(0 0 0 / 12%),
                0 2px 4px -1px rgb(0 0 0 / 40%);
}

/* border color hover effect */
:host([hover-effect=border]:hover:not([disabled])) {
    @keyframes border-shadow {
        from {
            box-shadow: 0 0 0 3px rgba($gc-color-blue-12, 1);
        }
        to {
            box-shadow: 0 0 0 3px rgba($gc-color-blue-12, 0.25);
        }
    }
    animation: border-shadow linear 1s infinite alternate;
}

/* enlarge hover effect */
:host([hover-effect=enlarge]:not([disabled])) {
    // transition: all 0.5s ease-out 0s;
    transition: all .3s ease-in-out;
}
:host([hover-effect=enlarge]:hover:not([disabled])) {
    transform: scale(1.02);
}

/* disabled */
:host([disabled]) {
    img {
        background: $gc-background-color-disabled;
        filter: grayscale(1) blur(2px) brightness(0.75);
    }

    * {
        cursor: default;
    }
}