@import '../../global/variables.scss';

/* chrome: scroll width and height */
:host::-webkit-scrollbar,
::-webkit-scrollbar {
    width: $gc-scrollbar-width;
    height: $gc-scrollbar-width;
}

/* chrome: scroll Track */
:host::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    background: $gc-scrollbar-track-background-color;
}

/* chrome: scroll Handle */
:host::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background: $gc-scrollbar-thumb-background-color;
}

/* chrome: scroll Handle on hover */
:host::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
    background: $gc-scrollbar-thumb-background-color-hover;
}

/* chrome: scroll corner */
:host::-webkit-scrollbar-corner,
::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

:host(:focus), :host *:focus {
    outline: none;
}

:host {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;

    font-family: $gc-font-family;
    font-size: $gc-font-size;
    font-weight: $gc-font-weight-normal;
    color: var(--gc-font-color, $gc-font-color);
    margin: $gc-margin;
    display: inline-block;
    box-sizing: border-box;

    .user-select {
        // text is selectable
        -webkit-user-select: text;
         -khtml-user-select: text;
           -moz-user-select: text;
            -ms-user-select: text;
             -o-user-select: text;
                user-select: text;
    }
}

:host([hidden]) {
    display: none !important;
}

:host([readonly]) {
    * {
        pointer-events: none;
    }
}

:host([disabled]) {
    * {
        cursor: not-allowed;
    }
}

:host([caption]:not([caption=""])) {
    margin-top: 27px;
}

:host([caption]:not([caption=""])),
:host([info-text]:not([info-text=""])) {
    overflow: visible;
    position: relative;
}

:host([caption=""][info-text]:not([info-text=""])),
:host([info-text]:not([info-text=""]):not([caption])) {
    margin-right: 27px;
}

#elementWrapper {
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.root-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .header-container.top {
        top: -22px;
        flex-direction: row;
    }

    .header-container.side {
        right: -22px;
        flex-direction: column;
        height: inherit;
    }

    .header-container {
        position: absolute;
        display: flex;
        align-items: center;

        .icon,
        gc-widget-icon {
            margin: auto;
            height: 18px;
            width: 18px;
            display: block;
            --gc-color: #{$gc-caption-info-color};
        }

        .caption {
            flex: 1;
            white-space: nowrap;
            margin-right: 2px;
            font-weight: $gc-caption-font-weight;
            font-size: $gc-caption-font-size;
            color: $gc-caption-font-color;
        }
    }
}