
@mixin apply-layout-styles($elm-selector) {
    /* layout */
    :host([layout]) #{$elm-selector} {
        display: flex;
        align-items: flex-start;
    }
    :host([horizontal]) #{$elm-selector} {
        flex-direction: row;
    }
    :host([vertical]) #{$elm-selector} {
        flex-direction: column;
    }

    /* reverse */
    :host([horizontal][reverse]) #{$elm-selector} {
        flex-direction: row-reverse;
    }
    :host([vertical][reverse]) #{$elm-selector} {
        flex-direction: column-reverse;
    }

    /* justified */
    :host([start-justified]) #{$elm-selector} {
        justify-content: flex-start;
    }
    :host([end-justified]) #{$elm-selector} {
        justify-content: flex-end;
    }
    :host([center-justified]) #{$elm-selector} {
        justify-content: center;
    }
    :host([around-justified]) #{$elm-selector} {
        justify-content: space-around;
    }
    :host([justified]) #{$elm-selector} {
        justify-content: space-between;
    }

    /* align */
    :host([start]) #{$elm-selector} {
        align-items: flex-start;
    }
    :host([end]) #{$elm-selector} {
        align-items: flex-end;
    }
    :host([center]) #{$elm-selector} {
        align-items: center;
    }

    /* wrap */
    :host([wrap]) #{$elm-selector} {
        flex-wrap: wrap;
    }
    :host([wrap-reverse]) #{$elm-selector} {
        flex-wrap: wrap-reverse;
    }

    /* Chrome fix: special case to address wrap horizontal layout */
    :host([layout][horizontal][wrap]), :host([layout][vertical][wrap]),
    :host([layout][horizontal][wrap][start]), :host([layout][vertical][wrap][start]),
    :host([layout][horizontal][wrap-reverse][start]), :host([layout][vertical][wrap-reverse][start]) {
        #{$elm-selector} {
            align-content: flex-start;
        }
    }
    :host([layout][horizontal][wrap][end]), :host([layout][vertical][wrap][end]),
    :host([layout][horizontal][wrap-reverse][end]), :host([layout][vertical][wrap-reverse][end]) {
        #{$elm-selector} {
            align-content: flex-end;
        }
    }
    :host([layout][horizontal][wrap][center]), :host([layout][vertical][wrap][center]),
    :host([layout][horizontal][wrap-reverse][center]), :host([layout][vertical][wrap-reverse][center]) {
        #{$elm-selector} {
            align-content: center;
        }
    }
}