@import "../gc-widget-base/gc-widget-base";

$border-color: var(--gc-border-color, $gc-border-color);
$heading-color: var(--gc-heading-color, $border-color);

.root-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    & * {
        margin: 0px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    & > * {
        margin: 5px;
    }
}

.row.center {
    align-items: center;
}

.row.bottom {
    align-items: flex-end;
}

.row.justify-end {
    justify-content: flex-end;
}

.row.wrap {
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

div {
    position: relative;
}

.stretch {
    flex: 1;
    flex-basis: 0.0000001px;
}

#bitFieldViewer {
    width: 334px;
    height: 100%;
    margin: 0px;
    padding: 5px 0 0 10px;
    box-sizing: border-box;
}

gc-widget-select {
    min-width: 95px;
}

.title {
    position: relative;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: min-content;
    white-space: nowrap;

    &:before {
        content: "";
        position: absolute;
        width: 40%;
        height: 1px;
        bottom: 2px;
        border-bottom: 2px solid $gc-primary-color;
    }


    & .heading {
        font-size: $gc-header-font-size;
        font-weight: $gc-header-font-weight;
    }

    & .sub-heading {
        font-size: $gc-sub-header-font-size;
        padding-left: 10px;
    }
}

#search {
    margin: 0px 5px 4px 0px;
}

.fill {
    width: 100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
}

#main {
    overflow-x: auto;
    overflow-y: hidden;

    & *.stretch {
        min-width: 0px;
    }
}

.no-shrink {
    flex-shrink: 0;
}

#registerDetails {
    overflow-x: hidden;
    overflow-y: auto;

    & table {
        border-collapse: collapse;
        width: 100%;
        box-sizing: border-box;
        user-select: text;
    }
     & > div {
         margin: 10px 5px 5px 5px;
     }

    & > .detail-heading {
        font-size: 125%;
        font-weight: bold;
        display: inline;
    }

    & th {
        background-color: $heading-color;
        color:  var(--gc-heading-font-color);
        vertical-align: middle;
        text-align: center;
    }

    & th,
    & td {
        border: 2px solid $border-color;
    }

    & td {
        padding: 10px;
        vertical-align: top;
        text-align: left;
        white-space: nowrap;

        &.col3 {
            white-space: normal;
            overflow-wrap: break-word;
        }
    }
}

.clickable {
    margin: 5px;
    cursor: pointer;
}

#deferredModeSwitch {
    min-height: 30px;  /* give toggle switch same height as the select widgets */
}
