@import "../gc-widget-base/gc-widget-base.scss";

$main-title-font-size: 5.25px;
$sub-title-font-size: 4.25px;
$min-max-font-size: 5.25px;
$value-font-size: 8px;

:host {
    height: 100px;
    width: 200px;

    svg {
        #face-layer {
            #arc-background {
                fill: var(--gc-arc-background-color, $gc-tertiary-color);
            }

            #arc {
                fill: var(--gc-internal-arc-color, $gc-color-red-3);
            }
        }

        #label-layer {
            fill: var(--gc-font-color, $gc-font-color);
            text-anchor: middle;

            #main-title {
                font-size: $main-title-font-size;
                font-weight: $gc-font-weight-bold;

            }

            #sub-title {
                font-size: $sub-title-font-size;
            }

            #min-value {
                text-anchor: start;
                font-size: $min-max-font-size;
            }

            #max-value {
                text-anchor: end;
                font-size: $min-max-font-size;
            }

            #value {
                font-size: $value-font-size;
                font-weight: $gc-font-weight-bold;
            }
        }
    }
}

:host([disabled]) {
    svg {
        #face-layer {
            #arc-background {
                fill: $gc-background-color-disabled;
            }

            #arc {
                fill: $gc-color-gray-4;
            }
        }

        #label-layer {
            fill: $gc-font-color-disabled;
        }
    }
}