@import "../gc-widget-base/gc-widget-base";
@import "../gc-widget-base/gc-widget-layout-mixin";
@include apply-layout-styles("#content");

:host([elevation="1"]) {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
                0 1px 5px 0 rgb(0 0 0 / 12%),
                0 3px 1px -2px rgb(0 0 0 / 20%);
}

:host([elevation="2"]) {
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%),
                0 1px 10px 0 rgb(0 0 0 / 12%),
                0 2px 4px -1px rgb(0 0 0 / 40%);
}

:host([elevation="3"]) {
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%),
                0 1px 18px 0 rgb(0 0 0 / 12%),
                0 3px 5px -1px rgb(0 0 0 / 40%);
}

:host([elevation="4"]) {
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%),
                0 3px 14px 2px rgb(0 0 0 / 12%),
                0 5px 5px -3px rgb(0 0 0 / 40%);
}

:host([elevation="5"]) {
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%),
                0 6px 30px 5px rgb(0 0 0 / 12%),
                0 8px 10px -5px rgb(0 0 0 / 40%);
}

:host {
    font-family: $gc-font-family;
    overflow: hidden !important;
    background-color: var(--gc-background-color, $gc-background-color);

    #root-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        #heading {
            height: 14px;
            min-height: 14px;
            align-self: start;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: -moz-available;
            max-width: -webkit-fill-available;
            font-size: $gc-header-font-size;
            font-weight: $gc-header-font-weight;
            padding: 15px 15px 20px 15px;
            margin-bottom: 20px;
        }

        #heading:before {
            content: "";
            position: absolute;
            width: 40%;
            height: 1px;
            bottom: 2px;
            border-bottom: 2px solid $gc-primary-color;
        }

        #content {
            width: initial;
            height: calc(100% - 48px);
            position: relative;
            overflow: var(--gc-overflow);
            padding: var(--gc-padding);

            /* prevent inheriting css var styles */
            --gc-background-color: #{$gc-background-color};
        }
    }
}

:host(:not([heading])),
:host([heading=""]) {
    #root-container {
        #content {
            height: 100%;
        }
    }
}

// make the content smaller if there is a heading
:host([heading]:not([heading=""])) {
    #root-container {
        content {
            margin: 10px;
            width: calc(100% - 20px);
        }
    }
}

// set margin if there is a head or elevation
:host([heading]:not([heading=""])),
:host([elevation="1"]),
:host([elevation="2"])
:host([elevation="3"])
:host([elevation="4"])
:host([elevation="5"]) {
    margin: $gc-margin;
}