@import '../gc-widget-base/gc-widget-base';

:host {
    margin: 0;

    gc-widget-dialog {
        max-width: 800px;
        max-height: 600px;
        width: 500px;
        height: 320px;
    }
}

#busySplash {
    background: white;
    display: flex;
    align-content: center;
    justify-content: center;
}

#busyIcon {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.uart-setting:not(:last-child) {
    border-bottom: solid;
    border-width: thin;
    border-color: $gc-border-color;
}
.uart-setting {
    display: grid;
    grid-template: auto / 70px auto;
    grid-auto-flow: row;
    grid-template-areas:
        "title title-name "
        "port port-select"
        "baud baud-select";
    padding-bottom: 15px;
    .title{
        grid-area: title;
    }
    .title-name{
        margin-left: 9px;
        grid-area: title-name;
    }
    .port{
        grid-area: port;
    }
    .baud{
        grid-area: baud;
    }
    .port-select{
        grid-area: port-select;
    }
    .baud-select{
        grid-area: baud-select;
    }
    p {
        font-weight: bold;
    }
    gc-widget-select {
        width: auto;
    }
}

.spacer {
    flex: 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
