/*
 * ---------------------------------------------------------------------
 * Color palette
 *
 * Reference:
 *   http://4com.itg.ti.com/ims/styleguide_fab_gui/colors.html
 *
 *  P - Primary Colors
 *  S - Secondary Colors
 *  B - Background Colors
 *  A - Alert Colors
 *  C - Selection Colors
 *  T - Text & Link Colors
 * ---------------------------------------------------------------------
 */
$gc-color-red-1:    #fcd3c1;    // B7
$gc-color-red-2:    #990000;    // P2
$gc-color-red-3:    #cc0000;    // P1
$gc-color-red-4:    #dd0000;    // A1 (stroke #c0c0c0)
$gc-color-red-5:    #ee0000;    // ticom button hover

$gc-color-blue-1:   #edf7f8;    // C1
$gc-color-blue-2:   #d9f1f4;    // C2
$gc-color-blue-3:   #c8dae3;    // B2 highlight background fill (stroke #adbcc4)
$gc-color-blue-4:   #b9e5fb;    // B1 highlight background fill (stroke #a6cee1)
$gc-color-blue-5:   #95dbdb;    // B3 highlight background fill (stroke #80bcbc)
$gc-color-blue-6:   #5ec5dc;    // S3
$gc-color-blue-7:   #1c99c4;    // S2
$gc-color-blue-8:   #118899;    // P4|T4 link
$gc-color-blue-9:   #115566;    // P3
$gc-color-blue-10:  #02688c;    // S1
$gc-color-blue-11:  #00bbcc;    // P5
$gc-color-blue-12:  #9ed6df;    // ## focus highlight

$gc-color-white:    #ffffff;    // P7
$gc-color-gray-1:   #f7f7f7;    // B8 container background fill (stroke #e6e6e6)
$gc-color-gray-2:   #eeeeee;    // B9 container background fill (stroke #dadada)
$gc-color-gray-3:   #e5e5e5;    // B6 highlight background fill (stroke #c4c4c4)
$gc-color-gray-4:   #cccccc;    // A4 fill (stroke #c0c0c0)
$gc-color-gray-5:   #98999b;    // S7
$gc-color-gray-6:   #63666a;    // S6
$gc-color-gray-7:   #999999;    // T2 text (light)
$gc-color-gray-8:   #555555;    // T1 text
$gc-color-gray-9:   #231f20;    // P6
$gc-color-gray-10:  #333333;    // T3 links
$gc-color-black:    #000000;

$gc-color-yellow-1: #ffffb3;    // C3
$gc-color-yellow-2: #f3cd34;    // A3 fill (stroke #c0c0c0)
$gc-color-yellow-3: #fbeea3;    // B5
$gc-color-yellow-4: #f4b821;    // S5
$gc-color-yellow-5: #ffffe5;

$gc-color-green-1:  #d7ecdd;    // B4
$gc-color-green-2:  #4caf50;    // A2 fill (stroke #c0c0c0)
$gc-color-green-3:  #329b46;    // S4 fill (stroke #c0c0c0)