@import "../gc-widget-base/gc-widget-base";

:host {
    // override so document is selectable
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    -o-user-select: auto;
    user-select: auto;
}

#markdown{
    width: inherit;
    height: inherit;
    overflow: auto;
}

code {
    color: $gc-font-color;
    font-style: italic;
}

pre {
    // code blocks to have white background and line coloring for legibility
    box-shadow: -2px 0px 0px 0px $gc-color-blue-11, 0px 0px 0px 1px $gc-color-gray-3;
    background-color: $gc-background-color;
    background-image: linear-gradient(transparent 50%, rgba($gc-color-blue-1, 0.5) 50%);
    background-size: 3em 3em;
    padding: 0 1em;
    line-height: 1.5;
    overflow: auto;
}