@import  "../gc-widget-base/gc-widget-base";

:host {
    margin: 0;

    gc-widget-dialog {
        --gc-over-flow: hidden;
        max-width: 1024px;
        max-height: 800px;
        width: 520px;
        height: 650px;
    }

    h2 {
        margin-bottom: 5px;
    }

    #content {
        height: 100%;
        display: flex;
        flex-direction: column;

        .grid {
            display: grid;

            >* {
                white-space: nowrap;
                padding: 5px 10px;
            }

            .label {
                font-weight: $gc-font-weight-bold;
            }
        }

        #application-grid {
            margin-left: 5px;
            grid-template-columns: auto 1fr;
        }

        #content-detail {
            --gc-overflow: auto;

            #software-grid {
                margin-left: 5px;
                grid-template-columns: auto auto 1fr;

                .highlight {
                    background-color: $gc-color-gray-1;
                }

                .label.highlight {
                    background-color: $gc-color-gray-3;
                }
            }

            #additional-info-detail {
                margin: 0 10px;
            }

            #copyright {
                margin: 20px 0;
            }
        }
    }

    a, a:visited {
        color: $gc-secondary-color;
        text-decoration: none;
    }
}