@import "../gc-widget-base/gc-widget-base-check.scss";

:host {
    .slider {
        background-color: $gc-tertiary-color;
    }

    .slider:before {
        background-color: $gc-background-color;
    }

    input:checked + .slider {
        background-color: $gc-color-blue-9;
    }

    .container, .slider {
        cursor: pointer;
    }
}

.container {
    display: flex;
    align-items: center;

    .labelWhenChecked, .label {
        margin-left: 10px;
    }
}

.switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 24px;

    input {
        opacity: 0;
        display: none;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 34px;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        border-radius: 50%;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    }
}

:host(:not([disabled])) {
    .container:focus {
        @keyframes focus-shadow {
            from {
                box-shadow: 0 0 0 3px rgba($gc-color-blue-12, 1);
            }
            to {
                box-shadow: 0 0 0 3px rgba($gc-color-blue-12, 0.25);
            }
        }

        .slider {
            animation: focus-shadow linear 1s infinite alternate;
        }
    }
}

:host([disabled]) {
    opacity: 0.5;

    .slider, input:checked + .slider {
        background-color: $gc-color-gray-8;
    }

    .container, .slider {
        cursor: not-allowed;
    }
}
