@import "../gc-widget-base/gc-widget-base-menu";

:host {
    box-sizing: border-box;
    padding: 0 15px;
    z-index: 1;
    cursor: default;

    background-color: $gc-menu-background-color;
    color: $gc-menu-color;
    fill: $gc-menu-color;

    /* style menubar item */
    .grid-container {
        display: flex;
        align-items: center;
    }
}

:host(.active) {
    background-color: $gc-menu-background-color-hover;
    color: $gc-menu-color-hover;
    fill :$gc-menu-color-hover;
}

:host(.sub-menu) {
    background-color: $gc-sub-menu-background-color;
    color: $gc-sub-menu-color;
    fill: $gc-sub-menu-color;
}

:host(.sub-menu.active),
:host(.sub-menu:hover) {
    background-color: $gc-sub-menu-background-color-hover;
    color: $gc-sub-menu-color-hover;
    fill: $gc-sub-menu-color-hover;
}

#sub-menu {
    background-color: $gc-sub-menu-background-color;
    position: absolute;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid $gc-border-color;
    z-index: 1;
}
