# common
node_modules
.gitcommitids

# components, NodeJS Library, docs
@ti
@ti-NLibs
@ti-migrator
docs
!src/gc-widget-about-dialog/demo/docs
metadata.json
!CustomElementDemo/**/metadata.json

# ticom-ui components
ticom-ui-components

# stencils intermediate folder and files
dist
prebuild
loader
.stencil
stencil-docs.d.ts
stencil-docs.json
stencil-stats.json

# test report file
report*.xml
