<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <title>GUI Composer Component Help</title>
    <meta charset="utf-8">
    <script nomodule="" src="@ti/build/gc-components.js"></script>
    <script type="module" src="@ti/build/gc-components.esm.js"></script>
    <style>
        body {
            margin: 0;
        }
    </style>
    <link rel="icon" href="../../v2/images/favicon-dark.ico" media="(prefers-color-scheme:dark)" />
    <link rel="icon" href="../../v2/images/favicon-light.ico" media="(prefers-color-scheme:light)" />
    <link rel="icon" href="../../v2/images/favicon.ico" media="(prefers-color-scheme:no-preference)" />
</head>

<body>
    <gc-component-help></gc-component-help>
</body>

</html>