@import "../gc-widget-base/gc-widget-base";

$focus-color: var(--gc-focus-color, $gc-font-color);

.container, .info-container:not([hidden]) {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    height: 100%;
    box-sizing: border-box;
}

.heading {
    &:before {
        content: "";
        position: absolute;
        width: calc(100% - 10px);
        height: 1px;
        bottom: 2px;
        border-bottom: 2px solid $gc-primary-color;
    }

    font-size: $gc-header-font-size;
    font-weight: $gc-header-font-weight;
    position: relative;
}

.sub-heading {
    font-size: $gc-sub-header-font-size;
}

.info-title, .sub-heading {
    color: $gc-secondary-color;
    font-weight: bold;
}

.info-container > div.info-title {
    margin-bottom: 4px;
    margin-top: 10px;
}

.info-container,
.info-container gc-widget-label {
    user-select: text;
}

.heading, .sub-heading, .scroll-container {
    padding: 5px;   /* using padding instead of margin because the spacing needs to be inside of the scroll bars for .scroll-container. */
}

.scroll-container {
    overflow: auto;
}

.field-container, .info-container {
    & * {
        margin: 0px;
    }
}

.field-container {
    align-items: center;
    padding-top: 5px;

    &:not(:nth-last-child(2)) {
        border-bottom: 1px solid $gc-border-color;
        padding-bottom: 5px;
    }
}

.header-container, .widget-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > *:not(:last-child) {
        margin-right: 5px;
    }
}

.header-container {
    margin-bottom: 4px;

    & gc-widget-icon {
        --gc-color: #{$gc-caption-info-color};
        cursor: pointer;
    }

    & div.caption {
        color: $gc-caption-font-color;
        font-size: $gc-caption-font-size;
        font-weight: $gc-caption-font-weight;
    }
}

.widget-container {
    min-height: 34px; /* make all the widget containers as high as the largest widget to avoid flicker when redrawing with different fields */

    gc-widget-led:focus {
        outline: 1px dotted $focus-color;
        outline-offset: -1px;
    }
}

.flex {
    flex-grow: 1;
    flex-shrink: 1;
}

.right-align {
    --gc-text-align: right;
}

