@import "../gc-widget-base/gc-widget-base";

:host {
    width: 34px;
    height: 34px;
    #led_path,
    #glow_path,
    #led_res_path {
        fill: var(--gc-off-color, $gc-color-gray-6);
    }
    #led_res_path {
        stroke: var(--gc-off-color, $gc-color-gray-6);
    }
    #glow-circle {
        display: none;
    }
}

:host([glow][on]) #glow-circle {
    display: inline;
}

:host([on]) #led_res_path {
    stroke: var(--gc-on-color, $gc-color-red-3);
}

:host([on]) #led_path,
:host([on]) #glow_path,
:host([on]) #led_res_path {
    fill: var(--gc-on-color, $gc-color-red-3);
}

:host([disabled]) #led_res_path{
    stroke: gc-color-gray-3;
}

:host([disabled]) #led_path,
:host([disabled]) #glow_path,
:host([disabled]) #led_res_path {
    fill: $gc-color-gray-3;
}

//  styles for the svg circles
svg {
    overflow: visible;
}

#top {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#led-wrapper {
    transform-origin: 50% 50%;
}

#led-shadow-grey {
    display: inline;
}

#led_shadow_path {
    display: inline;
    fill: #333333;
    fill-opacity: 1;
    stroke: #d0d0d0;
    stroke-width: 10;
    stroke-linecap: square;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1
}

#led-residual-shine {
    display: inline;
}

#led_res_path {
    display: inline;
    opacity: 0.55;
    fill-opacity: 0.55;
    stroke-width: 2;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.5;
}

#led-lit-color {
    display: inline;
}

#led_path {
    display: inline;
    fill-opacity: 1;
}

#glow_path {
    display: inline;
    fill-opacity: 0.18;
}
