@import "../gc-widget-base/gc-widget-base";

:host #elementWrapper {
    overflow: auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr min-content;
    grid-auto-rows: min-content;
}

:host(:not([has-delete-icon])) #elementWrapper {
    grid-template-columns: 1fr;
}

:host {
    color: $gc-font-color;
    background-color: $gc-background-color;
    border: 1px solid $gc-border-color;

    .row {
        display: contents;
        white-space: nowrap;

        &> * {
            height: $gc-font-size;
            line-height: $gc-font-size;
            padding: 9px 10px;
        }

        .icon-wrapper {
            display: flex;
            width: 18px; // size of icon
            padding-left: 0;
        }

        gc-widget-icon {
            margin: 0;
            --gc-color: #{$gc-color-white};
            cursor: pointer;
            display: none;
        }

        &.selected * {
            color: $gc-primary-color;
            background-color: $gc-background-color-highlighted;
        }
    }
}

:host(:not([disabled]):not([readonly])) {
    .row:hover {
        * {
            background-color: $gc-primary-color;
        }

        .label {
            color: $gc-color-white;
        }

        gc-widget-icon {
            display: inline-block;
        }
    }
}

:host([disabled]) {
    background-color: $gc-background-color-disabled;
    color: $gc-font-color-disabled;
    cursor: not-allowed;

    .row {
        &.selected * {
            color: unset;
        }
    }
}

:host([readonly]) {
    * {
        pointer-events: initial;
    }
}